<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="job-form__title">Напишите нам:</h1>
            <form action="#" class="job-form__form">
                <div class="job-form__form-row">
                    <div class="job-form__form-cell job-form__form-cell_3">
                        <div class="form-group form-group_animated">
                            {{input value="" class="form-control form-control_animated"}}
                            <label class="control-label_animated">Фамилия, Имя, Отчество</label>
                        </div>
                    </div>
                    <div class="job-form__form-cell job-form__form-cell_3">
                        {{input value="" type="email" class="form-control" placeholder="E-mail"}}
                    </div>
                    <div class="job-form__form-cell job-form__form-cell_3">
                        {{input value="" type="phone" class="form-control"}}
                    </div>
                </div>
                <div class="job-form__form-row">
                    <div class="job-form__form-cell">
                        {{textarea class="form-control job-form__form-textarea"}}
                    </div>
                </div>
                <div class="job-form__form-row">
                    <div class="job-form__form-cell">
                        <div class="job-form__add-doc">
                            <span class="job-form__add-doc-icon"></span>
                            <div class="job-form__add-doc-name">
                                <a href="#" class="job-form__add-doc-link">Прикрепите файлы</a>, если считаете нужным
                                <br> (Ваше резюме, рекомендации и т.д.)
                            </div>
                        </div>
                    </div>
                    <div class="job-form__form-cell text-right">
                        <button class="btn btn-primary" type="sumbit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
