<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="job-form__title">Напишите нам:</h1>
            <form action="#" class="job-form__form">
                <div class="job-form__form-row">
                    <div class="job-form__form-cell job-form__form-cell_3">
                        {{input value="" placeholder="Фамилия, Имя, Отчество" class="form-control"}}
                    </div>
                    <div class="job-form__form-cell job-form__form-cell_3">
                        {{input value="" placeholder="E-mail" type="email" class="form-control"}}
                    </div>
                    <div class="job-form__form-cell job-form__form-cell_3">
                        {{input value="" placeholder="Телефон" type="phone" class="form-control"}}
                    </div>
                </div>
                <div class="job-form__form-row">
                    <div class="job-form__form-cell">
                        {{textarea placeholder="Сопроводительное письмо" class="form-control job-form__form-textarea"}}
                    </div>
                </div>
                <div class="job-form__form-row">
                    <div class="job-form__form-cell">
                        <div class="job-form__add-doc">
                            <span class="job-form__add-doc-icon job-form__add-doc-icon_add-doc"></span>
                            <div class="job-form__add-doc-name">
                                <a href="#" class="job-form__add-doc-link">Прикрепите файлы</a>, если считаете нужным
                                <br> (Ваше резюме, рекомендации и т.д.)
                            </div>
                        </div>
                    </div>
                    <div class="job-form__form-cell text-right">
                        <button class="btn btn-primary" type="sumbit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
