<div class="layout__header header">
    {{#link-to "index" class="header__logo" }}{{logo-img}}{{/link-to}}
    <nav class="header__nav">
        {{#link-to "projects" class="header__link" }}Проекты{{/link-to}}
        {{#link-to "buy" class="header__link" }}Как купить{{/link-to}}
        {{#link-to "company" class="header__link" }}Компания{{/link-to}}
        {{#link-to "news" class="header__link" }}Новости{{/link-to}}
        {{#link-to "contacts" class="header__link" }}Контакты{{/link-to}}
    </nav>
</div>
<div class="layout__body">
    {{yield}}
</div>
<div class="layout__footer"></div>
