<div class="row">
    <div class="col-md-4">
        <a href="#" class="news-item">
            <div class="news-item-header">
                <span class="news-item-icon"></span>
                <small class="news-item-date">5 февраля 2017</small>
            </div>
            <div class="news-item-text">
                Выгодно инвестировать в коммерческие предложения на старте
            </div>
            <div class="news-item-footer"></div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#" class="news-item">
            <div class="news-item-header">
                <span class="news-item-icon"></span>
                <small class="news-item-date">5 февраля 2017</small>
            </div>
            <div class="news-item-text">
                Выгодно инвестировать в коммерческие предложения на старте
            </div>
            <div class="news-item-footer"></div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#" class="news-item">
            <img src="/assets/images/atlantida.jpg" alt="Атлантида" class="news-item-image">
            <div class="news-item-layout">
                <div class="news-item-header">
                    <span class="news-item-icon"></span>
                    <small class="news-item-date">5 февраля 2017</small>
                </div>
                <div class="news-item-text">
                    Проект Атлантида — победитель Urban Awards 2016!
                </div>
                <div class="news-item-footer">
                    <span class="badge badge_action">Акция</span>
                    <small>1-7 марта</small>
                </div>
            </div>
        </a>
    </div>
</div>
