<div class="row">
    <div class="col-md-4">
        <a href="#" class="news-item">
            <div class="news-item__header">
                <span class="clock-icon"></span>
                <small class="news-item__date">5 февраля 2017</small>
            </div>
            <div class="news-item__text">
                Выгодно инвестировать в коммерческие предложения на старте
            </div>
            <div class="news-item__footer"></div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#" class="news-item">
            <div class="news-item__header">
                <span class="clock-icon"></span>
                <small class="news-item__date">5 февраля 2017</small>
            </div>
            <div class="news-item__text">
                Выгодно инвестировать в коммерческие предложения на старте
            </div>
            <div class="news-item__footer"></div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#" class="news-item">
            <img src="/assets/images/atlantida.png" alt="Атлантида" class="news-item__image">
            <div class="news-item__layout">
                <div class="news-item__header">
                    <span class="clock-icon"></span>
                    <small class="news-item__date">5 февраля 2017</small>
                </div>
                <div class="news-item__text">
                    Проект Атлантида — победитель Urban Awards 2016!
                </div>
                <div class="news-item__footer">
                    <span class="badge badge_action">Акция</span>
                    <small>1-7 марта</small>
                </div>
            </div>
        </a>
    </div>
</div>
