<div class="docs-item__pdf-medium">
	<span class="icons icons_pdf-medium"></span>
</div>
<a href="#" class="docs-item__title">Изменения к ПД</a>
<div class="docs-item__date">23 апреля 2017</div>
<div class="docs-item__download">
	<span class="icons icons_download"></span>
</div>