<div class="row">
    <div class="col-md-6">
        {{#link-to 'projects.show.tech' id class="params__item params__item_tech" }}
            <div class="params__item-layout"></div>
            <div class="params__item-title">Технические параметры</div>
        {{/link-to}}
    </div>
    <div class="col-md-6">
        {{#link-to 'projects.show.location' id class="params__item params__item_location" }}
            <div class="params__item-layout"></div>
            <div class="params__item-title">Расположение и виды</div>
        {{/link-to}}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{#link-to 'projects.show.yard' id class="params__item params__item_yard" }}
            <div class="params__item-layout"></div>
            <div class="params__item-title">Дворовая территория</div>
        {{/link-to}}
    </div>
    <div class="col-md-6">
        {{#link-to 'projects.show.mortgage' id class="params__item params__item_mortgage" }}
            <div class="params__item-layout"></div>
            <div class="params__item-title">Ипотека</div>
        {{/link-to}}
    </div>
</div>
