<img class="project-info__logo-image" src="{{logoSrc}}" alt="">
<div class="project-info__logo-controls">
    <button class="btn btn-default project-info__logo-btn" type="button">Выбрать квартиру</button>
    <div class="project-info__logo-address">
        <span class="project-info__logo-address-pin"></span>
        <small>{{addressShort}}</small>
    </div>
</div>
