<div class="row">
    <div class="col-md-6">
        {{#link-to 'projects.show.tech' id class="params__item" }}
            <div class="params__item-img">
                <img src="/assets/images/projects/atlantida/atlantida-tech@2x.png" alt="">
            </div>
            <div class="params__item-title">Технические параметры</div>
        {{/link-to}}
    </div>
    <div class="col-md-6">
        {{#link-to 'projects.show.location' id class="params__item" }}
        <div class="params__item-img">
                <img src="/assets/images/projects/atlantida/atlantida-location@2x.png" alt="">
            </div>
            <div class="params__item-title">Расположение и виды</div>
        {{/link-to}}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{#link-to 'projects.show.yard' id class="params__item" }}
        <div class="params__item-img">
                <img src="/assets/images/projects/atlantida/atlantida-yard@2x.png" alt="">
            </div>
            <div class="params__item-title">Дворовая территория</div>
        {{/link-to}}
    </div>
    <div class="col-md-6">
        {{#link-to 'projects.show.mortgage' id class="params__item" }}
        <div class="params__item-img">
                <img src="/assets/images/projects/atlantida/atlantida-mortgage@2x.png" alt="">
            </div>
            <div class="params__item-title">Ипотека</div>
        {{/link-to}}
    </div>
</div>
