<div class="tabs">
    <div class="tabs__links">
        <a href="#" class="tabs__link">
            <span class="icons icons_virtual-tour"></span>
            <span>Виртуальный тур</span>
        </a>
        <a href="#" class="tabs__link">
            <span class="icons icons_camera"></span>
            <span>Онлайн трансляция</span>
        </a>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#building" aria-controls="building" role="tab" data-toggle="tab">Ход строительства</a></li>
        <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">Новости проекта</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="building">
            Tab 1
        </div>
        <div role="tabpanel" class="tab-pane" id="news">
            Tab 2
        </div>
    </div>
</div>
