<a href="#" class="social-link social-link_fb"></a>
<a href="#" class="social-link social-link_vk"></a>
<a href="#" class="social-link social-link_ok"></a>
<a href="#" class="social-link social-link_in"></a>