<form class="subscribe-form">
    <div class="subscribe-header">Подпишитесь на нашу рассылку</div>
    <div class="input-group subscribe-group">
        <input type="text" class="form-control subscribe-input" placeholder="E-mail">
        <div class="input-group-btn">
            <button class="btn btn-primary subscribe-btn" type="button">Подписаться</button>
        </div>
    </div>
    <small class="subscribe-text">Рассказываем о стартах продаж, специальных предложениях, новостях компании, новых проектах и делимся полезными советами</small>
</form>
