.header {
	height: 90px;
	margin-bottom: 80px;
	font-family: $fontName-SuisseIntlSemiBold, Arial, sans-serif;
	position: relative;
	z-index: 1000;
	@include box-shadow($shadow-header);

	&__container {
		position: relative;
		height: 100%;
	}

	&__logo {
		display: block;
		position: absolute;
		top: 15px;
		left: -25px;
		width: 80px;
		height: 60px;
		margin-left: 45px;
	}

	&__nav {
		display: table;
		height: 100%;
		margin: 0 auto;
	}

	&__link {
		display: table-cell;
		padding: 0 22px;
		vertical-align: middle;
		height: 100%;

		&:last-of-type {
			margin-right: 0;
		}

		&.active {
			color: #35353D;
		}
	}
}