// Customize Bootstrap variables

// Colors:
$gray-dark: #35353d;
$gray: #333335;
$brand-primary: #0047BB;

// Scaffolding:
$link-hover-color: #031F79;
$link-hover-decoration: none;

// Typography:
$line-height-base: 1.5;
$font-size-base: 16px;
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 16px;

// Buttons:
$btn-primary-bg: $brand-primary;
$btn-default-border: $brand-primary;
$btn-default-color: $brand-primary;

// Forms:
$input-border: transparent;
$input-border-focus: #79aed6;

// Navs:
$nav-link-hover-bg: transparent;
$nav-link-padding: 25px 15px;

// Tabs:
$nav-tabs-border-color: transparent;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-active-link-hover-bg: #fff;
$nav-tabs-active-link-hover-color: #fff;
$nav-tabs-active-link-hover-border-color: transparent;

// Badges:
$badge-border-radius: 4px;
$badge-font-weight: noraml;

// Carousel:
$carousel-control-width: 10%;
@import "bootstrap";


@import "vendor/__vendor.scss";
@import "utils/__utils.scss";
@import "components/__components.scss";
@import "project/__project.scss";
