// Customize Bootstrap variables

// Colors:
$gray-dark: #35353d;
$gray: #333335;
$brand-primary: #0247bc;

// Scaffolding:
$link-hover-color: #0f2984;
$link-hover-decoration: none;

// Typography:
$line-height-base: 1.6;

// Buttons:
$btn-primary-bg: $brand-primary;
$btn-default-border: $brand-primary;
$btn-default-color: $brand-primary;

// Forms:
$input-border: transparent;
$input-border-focus: #79aed6;

// Badges:
$badge-border-radius: 4px;
$badge-font-weight: noraml;

// Carousel:
$carousel-control-width: 10%;
@import "bootstrap";


@import "vendor/__vendor.scss";
@import "utils/__utils.scss";
@import "components/__components.scss";
@import "project/__project.scss";
