@mixin document-link($selector, $defaultSkin: true) {
	#{$selector} {
		display: table;
		width: 100%;

		&-icon,
		&-name {
			display: table-cell;
		}

		&-name {
			height: 100%;
			vertical-align: middle;
		}
	}

	@if $defaultSkin !=false {
        @include document-link-skin-default($selector);
    }
}

@mixin document-link-skin-default($selector) {
	#{$selector} {
		&-icon {
			@include size(50px, 54px);
			background: url($path-images + $path-pdf-lines) no-repeat center;
		}

		&-name {
			padding-left: 16px;
		}
	}
}