.carousel {
	&-ctrl {
		display: inline-block;
		height: 100%;
		width: 25px;
		background: url($path-images + "icon-chevron.svg") no-repeat center;

		&_left {
			@include rotation(180deg);
		}

		&_right {

		}
	}
}