.carousel {
	&-ctrl {
		display: inline-block;
		height: 100%;
		width: 25px;
		background-image: url(/assets/images/icon-chevron.svg);
		background-repeat: no-repeat;
		background-position: center;

		&_left {
			@include rotation(180deg);
		}

		&_right {

		}
	}
}