.company {
	&__title,
	&__introduction {
		font-family: $fontName-SuisseIntlSemiBold, Arial, sans-serif;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__introduction {
		line-height: 1.6;
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 35px;
	}

	&__cols {
		display: table;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 70px;
		color: $color-companyCols;
		font-family: $fontName-SuisseIntlSemiBold, Arial, sans-serif;

		&-item {
			display: table-cell;
			width: 100% / 3;
			text-align: center;
		}

		&-numbers {
			font-size: 50px;
		}
	}
}