.footer {
	font-family: $fontName-SuisseIntlSemiBold, Arial, sans-serif;
	background-color: #e3e5e4;
	padding: 25px 0;

	&__link {
		display: block;
		margin: 20px 0;

		&:first-child {
			margin-top: 0;
		}

		&_big {
			font-size: 16px;
		}
	}

	&__copyright {
		border-top: 1px solid #d6d7d9;
		padding-top: 20px;
		margin-top: 20px;
	}

	&__up {
		padding: 10px 12px;
		background-color: #fff;
		color: #d0d4d5;
		float: right;
		@include rounded();
	}
}