.header {
	width: 100%;
	height: 95px;

	&__logo {
		display: inline-block;
		width: 60px;
		height: 80px;
		margin-left: 45px;
	}

	&__nav {
		display: table;
		height: 100%;
		border-spacing: 25px;
	}

	&__link {
		display: table-cell;
		margin-right: 25px;
		vertical-align: middle;

		&:last-of-type {
			margin-right: 0;
		}
	}
}