.icons {
	display: inline-block;
	@include size(18px);

	&_virtual-tour {
		background: url($path-images + $path-icon-virtual-tour) no-repeat center;
		@include size(24px);
	}

	&_camera {
		background: url($path-images + $path-icon-camera) no-repeat center;
		@include size(24px);
	}

	&_clock {
		background: url($path-images + $path-icon-clock) no-repeat center;
		vertical-align: top;
		margin-right: 6px;
	}

	&_pdf-medium {
		background: url($path-images + $path-icon-pdf-medium) no-repeat center;
		@include size(18px, 24px);
	}

	&_download {
		background: url($path-images + $path-icon-download) no-repeat center;
		@include size(20px);
		vertical-align: middle;
	}

	&_coin {
		background: url($path-images + $path-icon-coin) no-repeat center;
		@include size(72px);
	}

	&_watch {
		background: url($path-images + $path-icon-watch) no-repeat center;
		@include size(72px);
	}

	&_doc {
		background: url($path-images + $path-icon-doc) no-repeat center;
		@include size(72px);
	}

	&_pin {
		background: url($path-images + $path-icon-pin-big) no-repeat center;
		@include size(52px);
	}
}