.index {
	&__carousel {
		margin-top: -80px;
	}

	&__projects {
        margin-top: 86px;

        &-title {
        	margin-bottom: 30px;	
        }

        &-btn {
			max-width: 200px;
        }
	}

	&__company {
		position: relative;
		height: 700px;
		margin-top: 50px;
		background: url($path-images + $path-company) no-repeat center;
		background-size: cover;

		&-layout {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .4);
			color: #fff;
			padding: 60px 0;
		}

		&-description {
			padding: 0 12%;
			font-size: 24px;
			margin-bottom: 62px;
			line-height: 1.3;
		}

		&-statistic {
			margin-bottom: 58px;
		}

		&-number {
			font-family: $fontName-SuisseIntlSemiBold;
			font-size: 65px;
			line-height: 1;
		}

		&-text {
			line-height: 1.3;
		}

		&-btn {
			margin-top: 13px;
			max-width: 200px;
		}
	}

	&__news {
		margin-top: 75px;
		margin-bottom: 20px;
		
		&-title {
			margin-bottom: 20px;
		}
	}
}