@include document-link(".job-form__add-doc", false);
@include document-link-skin-add-doc(".job-form__add-doc");

.job-form {
	background-color: #e3e5e4;
	border-bottom: 1px solid #cecfd1;
	margin-bottom: -25px;
	padding: 55px 0 80px 0;

	&__form {
		width: 100%;

		&-row {
			display: table;
			width: 100%;
		}

		&-cell {
			display: table-cell;
			padding: 0 8px 20px 0;
			vertical-align: top;

			&:last-of-type {
				padding-right: 0;
			}

			&_3 {
				width: $width-threeCols;
			}
		}

		&-textarea {
			height: 200px !important;
		}
	}

	&__add-doc {
		font-size: 12px;
		&-link {
			border-bottom: 1px dashed $brand-primary;
		}
	}
}