.vacancy-item {
	padding: 20px;
	background-color: #f6f6f6;
	margin-bottom: 20px;

	&:hover {
		cursor: pointer;
		background-color: $brand-primary;
		color: #fff;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	&__title {
		margin-bottom: 30px;
	}
}