.vacancies {
	&__image {
		@include size(100%, 330px);
		margin-top: -80px;
		margin-bottom: 80px;
		background-color: #fafafa;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__intro {
		margin-bottom: 50px;
	}

	&__city {
		font-size: 12px;
		margin-top: 15px;
		margin-bottom: 20px;

		&-pin {
			@include size(10px, 14px);
		}
	}

	&__vacancies {
		margin-bottom: 125px;
	}
}

.vacancy {
	&__title {
		margin-bottom: 35px;

	}

	&__date {
		display: inline-block;
		margin-bottom: 25px;
	}

	&__p {
		margin-bottom: 35px;

		&:last-of-type {
			margin-bottom: 140px;
		}

		&-title {
			margin-bottom: 20px;
		}

		&-list {
			&-item {
				margin-bottom: 10px;
			}
		}
	}
}