.projects {
	&-grid {
		
	}

	&-item {
		display: block;
		height: 360px;
		position: relative;
		color: #fff;
		margin-bottom: 35px;
		overflow: hidden;

		&:hover {
			color: #fff;
			
			.projects-item__image {
				@include transform(scale(1.2));
			}

		}

		&__image {
			@include transition(all, .5s);
		}

		&__info {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 20px;
			padding-top: 0;
			background: rgba(0, 0, 0, 0.25);
			font-size: 12px;

			&:hover {
				cursor: pointer;
			}
		}

		&__header {
			line-height: 1.1;
			margin-bottom: 3px;
		}

		&__description {
			font-size: 13px;
		}

		&__footer {
			position: absolute;
			bottom: 15px;
		}

		&__expiration {
			margin-bottom: 7px;
		}

		&__address {

			&-pin,
			&-short {
				display: inline-block;
				vertical-align: top;
				line-height: 1.2;
			}

			&-pin {
				height: 14px;
				width: 14px;
				background: url($path-images + $path-icon-pin-white) no-repeat center;
			}
		}
	}
}