.company {
	margin-bottom: 15px;

	&__title {
		margin-bottom: 20px;
	}

	&__introduction {
		margin-bottom: 18px;
		line-height: 1.35;
	}

	&__text {
		margin-bottom: 23px;
	}

	&__cols {
		display: table;
		width: 100%;
		margin-top: 17px;
		margin-bottom: 40px;
		color: $color-companyCols;
		font-family: $fontName-SuisseIntlSemiBold, Arial, sans-serif;

		&-item {
			display: table-cell;
			width: $width-threeCols;
			text-align: center;
		}

		&-numbers {
			font-size: 65px;
			margin-bottom: -18px;
		}
	}

	&__partners {
		margin-top: 108px;

		&-title {
			margin-bottom: 55px;
		}

		&-logo {
			@include size(135px, 30px);
			margin-bottom: 70px;
		}
	}
}