.team-member {
	margin-bottom: 46px;

	&__image {
		@include size(370px, 370px);
		background-color: #fafafa;
	}

	&__name {
		margin-top: 12px;
		font-family: $fontName-SuisseIntlSemiBold, Arial, sans-serif;
	}

	&__position {

	}

	&__expand {
		margin: 35px 0;
		margin-bottom: 0px;
		cursor: pointer;
		background: url($path-images + $path-cross) no-repeat center;
		@include size(24px);

		&_close {
			background: url($path-images + $path-plus) no-repeat center;
		}
	}

	&__info {
		display: none;
	}
}