.news {
	&-grid {
	}

	&-item {
		position: relative;
		display: block;
		height: 200px;
		margin-bottom: 30px;
		padding: 20px;
		padding-right: 30px;
		color: $gray-dark;
		background-color: #D0D3D4;
		@include drop-shadow(0, 1px, 0, .25);

		&:hover {
			background-color: #031F79;
			color: #fff;
		}

		&__header {
			margin-bottom: 25px;
			font-size: 16px;
			line-height: 1.5;
		}

		&__date {
			vertical-align: top;
			line-height: 20px;
		}

		&__footer {
			position: absolute;
			bottom: 20px;
			left: 20px;

			&-badge {
				margin-right: 17px;
			}

			&-badge,
			&-date {
				font-size: 13px;
			}
		}

		// with image 
		&__image,
		&__layout {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}

		&__layout {
			padding: 20px;
			padding-right: 30px;

			&_project {
				background: rgba(0, 0, 0, 0.25);
				color: #fff;

				&:hover {
					background: rgba(0, 0, 0, .5);
				}
			}
		}

	}
}