<div class="container">
    {{project-info-logo logoSrc="/assets/images/projects/atlantida/logo-atlantida.svg" addressShort=project.addressShort}}
</div>
<div class="params-location__map">
    {{project-map lat=61.698986 lng=50.8046383 zoom=15}}
</div>
<div class="container">
    {{#project-info-hero-text title="Виды и окружение" }}
        Много текста 20 пикселей 5 строк Много текста 20 пикселей 5 строк Много текста 20 пикселей 5 строк Много текsdfsdfста 20 пикселей 5 строк Много текста 20 пикселей 5 строк Много текста 20 пикселей 5 стрsdfsdfок Много текста 20 пикселей 5 строк Много текста 20 пикселей 5 строк
    {{/project-info-hero-text}}
    {{project-info-hero-image imgSrc="/assets/images/projects/atlantida/atlantida-location@2x.png" class="params-location__hero-image"}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/atlantida-location@2x.png" title="Детский сад" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/atlantida-location@2x.png" title="Школа" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/atlantida-location@2x.png" title="Макси + Июнь" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/atlantida-location@2x.png" title="Кинотеатр imax" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/atlantida-location@2x.png" title="Храм" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/atlantida-location@2x.png" title="Городской бассейн" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
</div>
