<div class="container">
    {{project-info-logo logoSrc="/assets/images/projects/atlantida/logo-atlantida.svg" addressShort=model.project.addressShort}}
</div>
{{project-info-hero-image imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" class="params-tech__hero-image"}}
<div class="container">
    {{#project-info-hero-text title="Инженерия и оснащение ЖК" class="params-tech__hero-text"}}
        Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текsdfsdfста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 стрsdfsdfок Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк
    {{/project-info-hero-text}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Кирпич + вентфасад с утеплителем" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Лифты KONE" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Электрооборудование" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Отопление" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Водоснабжение" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Видеодомофон" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Двери" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Пожарная безопасность" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{project-carousel id="tech-carousel" items=model.techSlider class="params-tech__carousel"}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/atlantida-tech@2x.png" title="Остекление + Панорамное остекление лоджий" class="params-item_last"}}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
</div>
