<div class="container">
    {{project-info-logo logoSrc="/assets/images/projects/atlantida/logo-atlantida.svg" addressShort=model.project.addressShort projectId=model.project.id}}
</div>
{{project-info-hero-image imgSrc="/assets/images/projects/atlantida/yard/atlantida-yard-cover@2x.jpg"}}
<div class="container">
    {{#project-info-hero-text title="Дворовая территория" }}
        Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текsdfsdfста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 стрsdfsdfок Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текsdfsdfста 20 пикселей 9 строк Много текста 20 пикселей 9 строк
    {{/project-info-hero-text}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/yard/atlantida-yard-safety@2x.jpg" title="Безопасность и комфорт передвижения" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/yard/atlantida-yard-gardening@2x.jpg" title="Комплексное озеленение" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/yard/atlantida-yard-playground@2x.jpg" title="Уютное детские площадки" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgRight=true imgSrc="/assets/images/projects/atlantida/yard/atlantida-yard-icerink@2x.jpg" title="Футбольные поле и каток" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{#project-params-item imgSrc="/assets/images/projects/atlantida/yard/atlantida-yard-parking@2x.jpg" title="Парковочные места" }}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
    {{project-carousel id="yard-carousel" items=model.yardSlider class="params-yard__carousel"}}
    {{#project-params-item imgSrc="#" title="Освещение"  class="params-item_last"}}
        Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали. Много всяких разных интересных слов. Весь текст примерно на 5 строк. Выровнять по центру вертикали.
    {{/project-params-item}}
</div>
