.buy-process {
	margin-bottom: 85px;

	&__header,
	&__introduction {
		font-family: $fontName-SuisseIntlSemiBold;
	}

	&__header {
		margin-bottom: 25px;
	}

	&__introduction {
		line-height: 1.35;
	}

	&__stepline {
		margin-top: 35px;
	}
}