.capital {
	margin-bottom: 80px;

	&__title,
	&__introduction,
	&__subtitle {
		font-family: $fontName-SuisseIntlSemiBold, Arial, sans-serif;
	}

	&__title {
		margin-bottom: 25px;
	}

	&__introduction {
		margin-bottom: 35px;
		line-height: 1.35;
	}

	&__subtitle {
		margin-bottom: 20px;
	}

	&__text {
		margin-bottom: 25px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}