// Fonts

$pathToRegular: "SuisseIntlRegular/";
$pathToSemiBold: "SuisseIntlSemiBold/";
$fontName-SuisseIntlRegular: "Suisse Intl Regular";
$fontName-SuisseIntlSemiBold: "Suisse Intl SemiBold";
$filename-SuisseIntlRegular: "SuisseIntl-Regular-WebM";
$filename-SuisseIntlSemiBold: "SuisseIntl-SemiBold-WebM";
$svgLabel-SuisseIntlRegular: "SuisseIntlRegular";
$svgLabel-SuisseIntlSemiBold: "SuisseIntlSemiBold";

// Basic colors

$color-primary: #0046bc;
$color-primary-dark: #0f2984;

$link-color: $color-primary;
$link-color-hover: $color-primary-dark;