// Fonts

$pathToRegular: "SuisseIntlRegular/";
$pathToSemiBold: "SuisseIntlSemiBold/";
$fontName-SuisseIntlRegular: "Suisse Intl Regular";
$fontName-SuisseIntlSemiBold: "Suisse Intl SemiBold";
$filename-SuisseIntlRegular: "SuisseIntl-Regular-WebM";
$filename-SuisseIntlSemiBold: "SuisseIntl-SemiBold-WebM";
$svgLabel-SuisseIntlRegular: "SuisseIntlRegular";
$svgLabel-SuisseIntlSemiBold: "SuisseIntlSemiBold";

// Basic colors

// Path
$path-images: "/assets/images/";
$path-icon-fb: "social/icon-fb-unactive.svg";
$path-icon-vk: "social/icon-vk-unactive.svg";
$path-icon-ok: "social/icon-ok-unactive.svg";
$path-icon-in: "social/icon-instagram-unactive.svg";
$path-iconHover-fb: "social/icon-fb-hover.svg";
$path-iconHover-vk: "social/icon-vk-hover.svg";
$path-iconHover-ok: "social/icon-ok-hover.svg";
$path-iconHover-in: "social/icon-instagram-hover.svg";
$path-icon-chevron: "icon-chevron.svg";
$path-company: "company.png";
$path-pdf-lines: "icon-pdf-lines.svg";
$path-adddoc: "icon-adddoc.svg";
$path-cross: "icon-cross.svg";
$path-plus: "icon-plus.svg";

$height-carousel: 700px;

$shadow-header: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
$shadow-mortageBank: 0 0 20px 2px rgba(0, 0, 0, 0.25);

$color-companyCols: $brand-primary;
$bgColor-constructionDynamicsCell-1: $brand-primary;
$bgColor-constructionDynamicsCell-2: #2661c5;
$bgColor-constructionDynamicsCell-3: #4c7fd0;
$bgColor-constructionDynamicsCell-4: #739adb;
$bgColor-constructionDynamicsCell-5: #99b5e4;
$bgColor-constructionDynamicsCell: ($bgColor-constructionDynamicsCell-1, $bgColor-constructionDynamicsCell-2, $bgColor-constructionDynamicsCell-3, $bgColor-constructionDynamicsCell-4, $bgColor-constructionDynamicsCell-5);

$width-threeCols: (100 / 3) + %;