<div class="history">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="history__title">История компании</h1>
                <h3 class="history__introduction">Компания СКАТ постоянно расширяет спектр своей деятельности, наращивает производственные мощности, осваивает новые технологии.</h3>
                <div class="history__stepline">
                    <div class="stepline">
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2010&nbsp;г.</div>
                            <div>
                                Создание автотранспортного предприятия началось с&nbsp;2&ndash;3 единиц спецтехники.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2011&nbsp;г.</div>
                            <div>
                                Учреждена компания
                                <nobr>ООО &laquo;СпецКомАвтоТранс&raquo;</nobr> путем объединения нескольких предприятий&nbsp;&mdash; автотранспортного, строительного, проектного, технадзорного в&nbsp;группу компаний. Численность сотрудников составила 80 человек.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2010&mdash;2012 гг.</div>
                            <div>
                                Строительство первого дома ЖК&nbsp;&laquo;Русская роща 1&raquo;.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">С&nbsp;2011&nbsp;г.</div>
                            <div>
                                Компания стала застройщиком, специализирующимся на&nbsp;строительстве многоквартирных жилых домов в&nbsp;столице Республики Коми.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2012&nbsp;г.</div>
                            <div>
                                Строительство первого дома ЖК&nbsp;&laquo;Русская роща 1&raquo;.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2014&nbsp;г.</div>
                            <div>
                                Появление собственного конструкторского отдела, увеличение объемов строительства и&nbsp;темпов работы в&nbsp;три раза.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2014&mdash;2015 гг.</div>
                            <div>
                                Строительство жилого дома по&nbsp;ул.&nbsp;Пушкина 138 впервые в&nbsp;Сыктывкаре с&nbsp;внедрением
                                <nobr>художественно-архитектурных</nobr> элементов.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">До&nbsp;2015&nbsp;г.</div>
                            <div>
                                Продолжение строительства 2,3,4 домов ЖК&nbsp;&laquo;Русская роща 1&raquo;.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2015&nbsp;г.</div>
                            <div>
                                Создание собственного отдела продаж.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2015&nbsp;г.</div>
                            <div>
                                В&nbsp;рамках рекламных кампаний СКАТ одна из&nbsp;первых в&nbsp;регионе внедрила презентационные видеоматериалы.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2015&nbsp;г.</div>
                            <div>
                                Строительство многоквартирного жилого дома по&nbsp;ул.&nbsp;Петрозаводская 27/1 с&nbsp;опережением сроков сдачи (план 24&nbsp;мес., факт 15&nbsp;мес.)
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2015&nbsp;г.</div>
                            <div>
                                Строительство жилого дома ул.&nbsp;Карла Маркса 222, с&nbsp;внедрением
                                <nobr>художественно-архитектурных</nobr> элементов.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2015&mdash;2016 гг.</div>
                            <div>
                                Строительство ЖК&nbsp;&laquo;Орбита&raquo; ул.&nbsp;Лыткина, 31&nbsp;&mdash; самого крупного объекта компании по&nbsp;количеству квартир.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2015&nbsp;г.</div>
                            <div>
                                Начало строительства ЖК&nbsp;&laquo;Молодёжный&raquo;.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2015&nbsp;г.</div>
                            <div>
                                Продолжение строительства ЖК&nbsp;&laquo;Русская роща 2&raquo;.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2016&mdash;2017 гг.</div>
                            <div>
                                Строительство ЖК&nbsp;&laquo;Графика&raquo; за&nbsp;рекордные 8&nbsp;месяцев в&nbsp;соотношении времени к&nbsp;количеству квартир.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2017&nbsp;г.</div>
                            <div>
                                Ребрендинг компании СКАТ.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle stepline__circle_last"></div>
                            <div class="stepline__title">2017&nbsp;г.</div>
                            <div>
                                Открытие второго офиса отдела продаж.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
