<div class="history">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="history__title">История компании</h1>
                <h3 class="history__introduction">Задача организации, в особенности же сложившаяся структура организации играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития. Равным образом рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.</h3>
                <div class="history__stepline">
                    <div class="stepline">
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2017 год</div>
                            <div>
                                Найдя интересующую вас квартиру на сайте, заполните форму для получения более подробных сведений. Наш специалист свяжется с вами в течение одного-двух дней удобным для вас способом и ответит на все вопросы. Отныне вы также будете регулярно получать всю актуальную информацию о доме в формате электронных сообщений. Вы сможете отписаться от рассылки в любое время. Отправка сообщения в Bonava не подразумевает, что вы обязаны совершить покупку. Просто это позволит вам всегда оставаться в курсе событий и узнавать первыми об интересующих вас проектах.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2015 год</div>
                            <div>
                                Ничто не расскажет о доме так, как сам дом. Посетите шоу-рум на строительной площадке в сопровождении специалиста и убедитесь сами. Вы получите полную информацию обо всем, что вам нужно знать о вашем будущем доме. После визита мы предложим на выбор множество вариантов планировочных решений и отделки, что позволит вам проявить собственную индивидуальность при создании образа вашего дома в будущем. После подробной беседы со специалистом вы будете точно знать. Какая квартира подойдет именно вам, а также когда и каким образом будет проходить процесс покупки
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2013 год</div>
                            <div>
                                Если вам понравилась квартира, но для принятия решения вам все-таки необходимо время на раздумье, мы закрепим её за вами на три дня. Если вы убеждены, что именно таким должен быть вам будущий дом, мы заключим с вами соглашение о бронировании, которое фиксирует номер квартиры, ее стоимость на день подписания соглашения и срок действия соглашения до заключения догвора участвия в долевом строительстве. Если вы планируете использовать возможности ипотечного кредитования, наш специалист сориентирует вас по имеющимся предложениям, составу пакета документов для подачи заявления и при необходимости будет сопровождать вашу сделку с банком.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2010 год</div>
                            <div>
                                После подписания соглашения о бронировании мы встретимся снова и еще раз обсудим с вами все детали: от условий оплаты и сроков передачи ключей до гарантийных и страховых обязательств. Нам важно, чтобы вы ясно представляли себе процесс покупки и были защищены на всех этапах приобретения вашего нового дома. В итоге мы заклюим с вами договор участи в долевом строительстве. Первый взнос по нему вам необходимо сделать после регистрации договора.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2007 год</div>
                            <div>
                                Конечно, вы хотите наблюдать за процессом создания вашего нового дома. Мы будем отправлять вам фотоотчеты о ходе строительства ежемесячно, чтобы вы всегда были в курсе новостей.
                            </div>
                        </div>
                        <div class="stepline__item">
                            <div class="stepline__circle"></div>
                            <div class="stepline__title">2004 год</div>
                            <div>
                                Вам позвонит специалист отдела клиентского сервиса и пригласит вас на прием квартиры. Процесс приема-передачи квартиры предполагает, что мы вместе с вами ее осмотрим, убедимся в отстутствии замечаний, после чего подпишем акты приема-передачи и финансовой сверки и вручим ключи от вашей новой квартиры. Вы также получите папку клиента, в которой собрано много полезной для проживания в вашем новом доме информации.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
