<div class="company">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="company__title">Архитектура жизни</h1>
                <h4 class="company__introduction">
                    Мы формируем современную и технологичную культуру строительстве в регионе и реализуем как единичные, так и комплексные жилые проекты, обеспечивая максимальную точность проектных сроков, доступность жилья высокого качества, надежность покупки и комфорт жизни будущих новоселов.
                </h4>
                <p class="company__text">
                    Сегодня компания СКАТ выполняет полный цикл работ от начального анализа и подготовки земельного участка до ввода построенного объекта в эксплуатацию. Собственный отдел продаж обеспечивает надежность покупки, сопровождая на всех этапах от выбора квартиры до заключения сделки.
                </p>
                <p class="company__text">
                    Строим исключительно из кирпича и используем только качественные, долговечные и высокопрочные материалы. Тщательно продумываем концепцию инфраструктуры будущего объекта, рассчитываем необходимое количество парковочных мест и проводим комплексное благоустройство территории, формируя особенное пространство для комфортной жизни в гармонии с городской средой.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="company__cols">
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">20&thinsp;%</div>
                        <span>Доля инноваций в проектах</span>
                    </div>
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">4</div>
                        <span>Проекта в разработке</span>
                    </div>
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">1500</div>
                        <span>Квартир проектируется</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
            <p class="company__text">
                Научная организация труда, высокая автоматизация процессов, моудльное проектирование и большой парк собственной современной техники позволяют нам экономить на издержках и строить с высокой скоростью, гарантируя качество, которое превышает ожидания. Собственная служба контроля качества и эксплуатации выявляет и устраняет все недостатки еще на этапе строительства и контролирует состояние дома после заселения жильцов в течение 5 лет.
            </p>
            </div>
        </div>
    </div>
</div>
