<div class="company">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="company__title">Архитектура жизни</h1>
                <h3 class="company__introduction">
                    Мы формируем современную и технологичную культуру строительстве в регионе и реализуем как единичные, так и комплексные жилые проекты, обеспечивая максимальную точность проектных сроков, доступность жилья высокого качества, надежность покупки и комфорт жизни будущих новоселов.
                </h3>
                <p class="company__text">
                    Сегодня компания СКАТ выполняет полный цикл работ от начального анализа и подготовки земельного участка до ввода построенного объекта в эксплуатацию. Собственный отдел продаж обеспечивает надежность покупки, сопровождая на всех этапах от выбора квартиры до заключения сделки.
                </p>
                <p class="company__text">
                    Строим исключительно из кирпича и используем только качественные, долговечные и высокопрочные материалы. Тщательно продумываем концепцию инфраструктуры будущего объекта, рассчитываем необходимое количество парковочных мест и проводим комплексное благоустройство территории, формируя особенное пространство для комфортной жизни в гармонии с городской средой.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="company__cols">
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">20&thinsp;%</div>
                        <span>Доля инноваций в проектах</span>
                    </div>
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">4</div>
                        <span>Проекта в разработке</span>
                    </div>
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">1500</div>
                        <span>Квартир проектируется</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p class="company__text">
                    Научная организация труда, высокая автоматизация процессов, моудльное проектирование и большой парк собственной современной техники позволяют нам экономить на издержках и строить с высокой скоростью, гарантируя качество, которое превышает ожидания. Собственная служба контроля качества и эксплуатации выявляет и устраняет все недостатки еще на этапе строительства и контролирует состояние дома после заселения жильцов в течение 5 лет.
                </p>
                <h4>Динамика строительства по годам</h4>
                <div class="construction-dynamic">
                    <div class="construction-dynamic__row">
                        <div class="construction-dynamic__cell">2016</div>
                        <div class="construction-dynamic__cell">
                            85&thinsp;000 м<sup><small>2</small></sup>
                        </div>
                    </div>
                    <div class="construction-dynamic__row">
                        <div class="construction-dynamic__cell">2015</div>
                        <div class="construction-dynamic__cell">
                            55&thinsp;000 м<sup><small>2</small></sup>
                        </div>
                    </div>
                    <div class="construction-dynamic__row">
                        <div class="construction-dynamic__cell">2014</div>
                        <div class="construction-dynamic__cell">
                            48&thinsp;000 м<sup><small>2</small></sup>
                        </div>
                    </div>
                    <div class="construction-dynamic__row">
                        <div class="construction-dynamic__cell">2013</div>
                        <div class="construction-dynamic__cell">
                            32&thinsp;000 м<sup><small>2</small></sup>
                        </div>
                    </div>
                    <div class="construction-dynamic__row">
                        <div class="construction-dynamic__cell">2012</div>
                        <div class="construction-dynamic__cell">
                            24&thinsp;000 м<sup><small>2</small></sup>
                        </div>
                    </div>
                </div>
                <p class="company__text">
                    Уделяя внимание эргономике пространства, мы создали оптимальные планировки квартир, вмещающие больший функционал в прежней площади. Свободная планировка квартир позволит создать пространство по вашему желанию. При необходимости большей площади, возможно объединение нескольких квартир. Собственный проектный отдел поможет оперативно скорректировать всю рабочую документацию.
                </p>
                <h4>Партнеры</h4>
                <div class="company__partners">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-sberbank.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-vtb.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-rosselhoz.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-sgb.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-sberbank.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-vtb.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-rosselhoz.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-sgb.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
