<div class="company">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="company__title">Архитектура жизни</h1>
                <h3 class="company__introduction">
                    Мы&nbsp;формируем современную и&nbsp;технологичную культуру строительства в&nbsp;регионе и&nbsp;реализуем как единичные, так и&nbsp;комплексные жилые проекты, обеспечивая максимальную точность проектных сроков, доступность жилья высокого качества, надежность покупки и&nbsp;комфорт жизни будущих новоселов.
                </h3>
                <p class="company__text">
                    Сегодня компания СКАТ выполняет полный цикл работ от&nbsp;начального анализа и&nbsp;подготовки земельного участка до&nbsp;ввода построенного объекта в&nbsp;эксплуатацию. Собственный отдел продаж обеспечивает надежность покупки, сопровождая на&nbsp;всех этапах от&nbsp;выбора квартиры до&nbsp;заключения сделки.
                </p>
                <p class="company__text">
                    Строим исключительно из&nbsp;кирпича и&nbsp;используем только качественные, долговечные и&nbsp;высокопрочные материалы. Тщательно продумываем концепцию инфраструктуры будущего объекта, рассчитываем необходимое количество парковочных мест и&nbsp;проводим комплексное благоустройство территории, формируя особенное пространство для комфортной жизни в&nbsp;гармонии с&nbsp;городской средой.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="company__cols">
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">20&thinsp;%</div>
                        <span>Доля инноваций в проектах</span>
                    </div>
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">4</div>
                        <span>Проекта в разработке</span>
                    </div>
                    <div class="company__cols-item">
                        <div class="company__cols-numbers">1500</div>
                        <span>Квартир проектируется</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p class="company__text">
                    Научная организация труда, высокая автоматизация процессов, модульное проектирование и&nbsp;большой парк собственной современной техники позволяют нам экономить на&nbsp;издержках и&nbsp;строить с&nbsp;высокой скоростью, гарантируя качество, которое превышает ожидания. Собственная служба контроля качества и&nbsp;эксплуатации выявляет и&nbsp;устраняет все недостатки еще на&nbsp;этапе строительства и&nbsp;контролирует состояние дома после заселения жильцов в&nbsp;течение 5 лет.
                </p>
                <div class="construction-dynamic">
                    <h4 class="construction-dynamic__title">Динамика строительства по годам</h4>
                    {{construction-dynamic}}
                </div>
                <p class="company__text">
                    Уделяя внимание эргономике пространства, мы&nbsp;создали оптимальные планировки квартир, вмещающие больший функционал в&nbsp;прежней площади. Свободная планировка позволит создать пространство по&nbsp;вашему желанию. Также при необходимости увеличения площади, на&nbsp;этапе строительства возможно объединение нескольких квартир. Собственный проектный отдел поможет оперативно скорректировать всю рабочую документацию.
                </p>
                <div class="company__partners">
                    <h2 class="company__partners-title">Партнеры</h2>
                    <p class="company__text">
                        Мы&nbsp;сотрудничаем с&nbsp;ведущими и&nbsp;самыми надежными банками России.
                    </p>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-sberbank.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-vtb.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-rosselhoz.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-sgb.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="company__partners-logo">
                                <img src="/assets/images/banks/logo-gazprombank.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
