<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="services__title">Корпоративным клиентам</h1>
                <h3 class="services__introduction">
					Мы&nbsp;оказываем комплекс услуг нашим <nobr>компаниям-партнерам</nobr>.
				</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="services__item">
                    <div class="services__item-image">
                        <img src="/assets/images/covers/company-spectech@2x.png" alt="">
                    </div>
                    <div class="services__item-info">
                        <h3 class="services__item-title">Аренда спецтехники</h3>
                        <div>
                            Компания СКАТ имеет порядка 60 единиц собственной современной техники импортного производства таких производителей, как HITACHI, Scania, Volvo, Caterpillar и&nbsp;Komatsu. Наша команда готова выполнить различные задачи, гарантируя скорость и&nbsp;высокое качество работ по&nbsp;оптимальной цене.
                        </div>
                        <a href="#" class="services__item-document">
                            <span class="services__item-document-icon"></span>
                            <a target="_blank" href="/assets/docs/price-spectehnika.pdf" class="services__item-document-name">Прайс-лист</a>
                        </a>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-image">
                        <img src="/assets/images/covers/company-geo@2x.png" alt="">
                    </div>
                    <div class="services__item-info">
                        <h3 class="services__item-title">Геодезические работы</h3>
                        <div>
                            <ol>
                                <li>Обработка проектной и&nbsp;рабочей документации.</li>
                                <li>Привязочные и&nbsp;разбивочные работы.</li>
                                <li>Контроль точности геометрических параметров.</li>
                                <li>Исполнительные геодезические съемки.</li>
                                <li>Подсчет объемов земляных масс.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-image">
                        <img src="/assets/images/covers/company-ground@2x.png" alt="">
                    </div>
                    <div class="services__item-info">
                        <h3 class="services__item-title">Земляные работы</h3>
                        <div>
                            <ol>
                                <li>Разработка выемок:
                                    <ul>
                                        <li>котлованы</li>
                                        <li>траншеи (для инженерных сетей)</li>
                                        <li>фундаменты</li>
                                    </ul>
                                </li>
                                <li>Планировка и&nbsp;выравнивание поверхностей.</li>
                                <li>Возведение насыпей с&nbsp;транспортировкой грунта.</li>
                                <li>Перемещение грунта в&nbsp;отвал.</li>
                                <li>Вскрышные работы.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-image">
                        <img src="/assets/images/covers/company-sand@2x.png" alt="">
                    </div>
                    <div class="services__item-info">
                        <h3 class="services__item-title">Песок и щебень</h3>
                        <div>
                            Речной песок и&nbsp;щебень являются самыми необходимыми материалами, без которых невозможно ни&nbsp;одно строительство. Компания СКАТ предложит и&nbsp;доставит материал на&nbsp;строительные площадки по&nbsp;оптимальной цене и&nbsp;точно в&nbsp;срок.
                        </div>
                        <a href="#" class="services__item-document">
                            <span class="services__item-document-icon"></span>
                            <a target="_blank" href="/assets/docs/price-pesok-sheben.pdf" class="services__item-document-name">Прайс-лист</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
