<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="services__title">Корпоративным клиентам</h1>
                <h4 class="services__introduction">
					Если вы хотите узнать подробнее о наших услугах, свяжитесь с руководителем отдела по работе
				</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="services__item">
                    <div class="services__item-image">
                        <img src="#" alt="">
                    </div>
                    <div class="services__item-info">
                        <h4 class="services__item-title">Аренда спецтехники</h4>
                        <div>
                            Компания СКАТ имеет порядка 60 единиц собственной современной техники импортного производства таких производителей, как HITACHI, Scania, Volvo, Caterpillar и Komatsu. Наша команд готова выполнить различные задачи, гарантируя скорость и высокое качество работ по оптимальной цене.
                        </div>
                        <a href="#" class="services__item-document">
                            <span class="services__item-document-icon"></span>
                            <div class="services__item-document-name">Прайс-лист</div>
                        </a>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-image">
                        <img src="#" alt="">
                    </div>
                    <div class="services__item-info">
                        <h4 class="services__item-title">Геодезические работы</h4>
                        <div>
                            <ol>
                                <li>Обработка проектной и рабочей документации.</li>
                                <li>Привязочные и разбивочные работы.</li>
                                <li>Контроль точности геометрических параметров.</li>
                                <li>Исполнительные геодезические съемки.</li>
                                <li>Подсчет объемов земляных масс.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-image">
                        <img src="#" alt="">
                    </div>
                    <div class="services__item-info">
                        <h4 class="services__item-title">Земляные работы</h4>
                        <div>
                            <ol>
                                <li>Разработка выемок:
                                    <ul>
                                        <li>котлованы</li>
                                        <li>траншеи (для инженерных сетей)</li>
                                        <li>фундаменты</li>
                                    </ul>
                                </li>
                                <li>Планировка и выравнивание поверхностей.</li>
                                <li>Возведение насыпей с транспортировкой грунта.</li>
                                <li>Перемещение грунта в отвал.</li>
                                <li>Вскрышные работы.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-image">
                        <img src="#" alt="">
                    </div>
                    <div class="services__item-info">
                        <h4 class="services__item-title">Песок и щебень</h4>
                        <div>
                            Речной песок и щебень являются самыми необходимыми материалами, без которых невозможно ни одно строительство. Компания СКАТ предложит и доставит материал на строительные площадки по оптимальной цене точно в срок.
                        </div>
                        <a href="#" class="services__item-document">
                            <span class="services__item-document-icon"></span>
                            <div class="services__item-document-name">Прайс-лист</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
