<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="team__title">Действующие лица</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/kuznecov@2x.png" name="Кузнецов Юрий Владимирович" position="Директор" }}
                    Основатель ООО «СКАТ»
                {{/team-member}}
            </div>
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/gorohov@2x.png" name="Горохов Алексей Витальевич" position="Первый заместитель директора" }}{{/team-member}}
            </div>
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/selednevsky@2x.png" name="Селедневский Дмитрий Казимирович" position="Главный инженер " }}
                    В&nbsp;2002 году награжден Почетной грамотой Администрации МО&nbsp;ГО&nbsp;&laquo;Сыктывкар&raquo;, в&nbsp;2007 году&nbsp;&mdash; Почетной грамотой
                    <nobr>ООО &laquo;ПечорстройИнвест&raquo;</nobr>, 2014 год&nbsp;&mdash; Благодарность Министерства архитектуры и&nbsp;строительства РК, в&nbsp;2015 году занесен на&nbsp;Доску Почета и&nbsp;памяти строителей г.&nbsp;Сыктывкара, в&nbsp;2016 году вручена Почетная грамота Министерства архитектуры и&nbsp;строительства РК.
                {{/team-member}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/nikulina@2x.png" name="Никулина Татьяна Васильевна" position="Заместитель директора по юридическим вопросам" }}
                    Кандидат юридических наук. В&nbsp;2016 году вручено Благодарственное письмо МО&nbsp;ГО&nbsp;&laquo;Сыктывкар&raquo;
                {{/team-member}}
            </div>
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/bagaeva@2x.png" name="Багаева Елена Владимировна" position="Начальник производственно-технического отдела" }}
                    В&nbsp;1989 году награждена Почетной грамотой &laquo;<nobr>СМП-242</nobr> Печорстроя&raquo;, в&nbsp;2000 году вручен Знак &laquo;Почетный транспортный строитель&raquo;, в&nbsp;2014 году награждена Почетной грамотой Министерства архитектуры и&nbsp;строительства РК, в&nbsp;2015 году занесена на&nbsp;Доску Почета и&nbsp;памяти строителей г.&nbsp;Сыктывкара.
                {{/team-member}}
            </div>
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/borisov@2x.png" name="Борисов Владимир Леонидович" position="Начальник проектно-конструкторского отдела" }}
                    В&nbsp;1987 году награжден Почетной грамотой проектного института &laquo;Комиагропромпроект&raquo;, в&nbsp;2005 году вручена Почетная грамота Министерства архитектуры и&nbsp;строительства РК, в&nbsp;2015 году&nbsp;&mdash; Благодарность Главы Республики Коми.
                {{/team-member}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/mokiev@2x.png" name="Мокиев Сергей Федорович" position="Руководитель проектов" }}
                    В&nbsp;2013 году награжден Почетной грамотой Администрации МО&nbsp;ГО&nbsp;&laquo;Сыктывкар&raquo;, в&nbsp;2015 году занесен на&nbsp;Доску Почета и&nbsp;памяти строителей г.&nbsp;Сыктывкара.
                {{/team-member}}
            </div>
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/filimonov@2x.png" name="Филимонов Антон Николаевич" position="Заместитель директора по развитию" }}{{/team-member}}
            </div>
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/zapevalov@2x.png" name="Запевалов Андрей Валерьевич " position="Начальник отдела материально-технического обеспечения, снабжения, логистики" }}
                    В&nbsp;2006 году награжден Почетной грамотой МО&nbsp;ГО&nbsp;&laquo;Сыктывкар&raquo;, в&nbsp;2015 году&nbsp;&mdash; Почетной грамотой Министерства архитектуры и&nbsp;строительства РК.
                {{/team-member}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/vlasov@2x.png" name="Власов Антон Михайлович" position="Начальник отдела коммуникаций и маркетинга" }}{{/team-member}}
            </div>
            <div class="col-md-4">
                {{#team-member imgSrc="/assets/images/staff/gameza@2x.png" name="Гамеза Ирина Степановна" position="Главный бухгалтер" }}{{/team-member}}
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
