<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{news-grid news=model}}
            </div>
        </div>
        {{!-- <div class="row">
        	<div class="col-md-12"><button class="btn btn-default btn_centered">Загрузить еще</button></div>
        </div> --}}
    </div>
</div>
