<div class="capital">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="capital__title">Используйте материнский капитал для покупки квартиры</h1>
                <h3 class="capital__introduction">
					Для оплаты стоимости приобретаемой квартиры может быть использован материнский капитал, при этом выполнение условия о&nbsp;достижении ребенком <nobr>3-летнего</nobr> возраста не&nbsp;требуется.
				</h3>
                <h3 class="capital__subtitle">
					Как использовать материнский капитал
				</h3>
                <p class="capital__text">
                    <ol class="capital__list">
                        <li>
                        Как досрочное погашение ипотечного кредита. После регистрации договора участия в&nbsp;долевом строительстве средства материнского (семейного) капитала необходимо направить в&nbsp;банк в&nbsp;течение 3&nbsp;месяцев для досрочного погашения. При этом собственные средства заемщика должны составлять от&nbsp;5% до&nbsp;10% первоначального взноса, в&nbsp;зависимости от&nbsp;программы конкретного банка.
                        </li>
                        <li>
                        	Как первоначальный взнос при ипотечном кредитовании. В&nbsp;этом случае <nobr>банк-партнер</nobr> увеличивает сумму ипотечного кредита на&nbsp;сумму материнского капитала, то&nbsp;есть выдает в&nbsp;ипотеку&nbsp;б&#243;льшую сумму.
                        </li>
                    </ol>
                </p>
                <p class="capital__text">
                    По&nbsp;таким программам работают <nobr>банки-партнеры</nobr> компании.
                </p>
                <p class="capital__text">
                    {{sales-contacts}}
                </p>
            </div>
        </div>
    </div>
</div>
