<div class="capital">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h1 class="capital__title">Используйте материнский капитал для покупки квартиры</h1>
				<h4 class="capital__introduction">
					Для оплаты стоимости приобретаемой квартиры может быть использован материнский капитал, при этом выполнение условия о достижении ребенком 3-летнего возраста не требуется.
				</h4>
				<h4 class="capital__subtitle">
					Как использовать материнский капитал
				</h4>
				<p class="capital__text">
					<ol class="capital__list">
						<li>Как досрочное погашение ипотечного кредита.</li>
						<li>Как первоначальный взнос при ипотечном кредитовании.</li>
					</ol>
				</p>
				<p class="capital__text">
					В этом случае банк-партнер увеличивает сумму ипотечного кредита на сумму материнского капитала, то есть выдает в ипотеку бо&#x301;льшую сумму. После регистрации договора участия в долевом строительстве вы переводите материнский капитал в банк для досрочного погашения. При этом собственные средства заемщика должны составлять от 5% до 10% первоначального взноса, в зависимости от программы конкретного банка. По таким программам работают банки-партнеры компании: Сбербанк, Газпромбанк, Райффайзен, ВТБ24.
				</p>
				<p class="capital__text">
					{{sales-contacts}}
				</p>
			</div>
		</div>
	</div>
</div>