<div class="compensation">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="compensation__title">Индивидуальные условия покупки для жителей других городов и стран</h1>
                <p class="compensation__text">
                    — вас индивидуально проконсультирует наш специалист по продажам
                    <br> — подберёт планировки квартир под ваши вкусы, бюджет и предпочтения
                    <br> — отправит предложения и детальные презентации по проекту на e-mail
                    <br> — обратные звонки специалиста в любую страну и регион позволят вам всегда быть на связи
                    <br> — обзорная экскурсия по проекту через Skype. Вы заказываете экскурсию и мы, в режиме реального времени, покажем вам проект и его территорию, заинтересовавшую вас квартиру и ответим на все вопросы
                    <br> — забронируйте до двух квартир на три дня для принятия взвешеннго решения
                    <br> — мы оплатим Ваши расходы в размере до 40 000 &8381; на приезд к нам, в случае совершения покупки
                </p>
                <p class="compensation__text">
                    {{sales-contacts}}
                </p>
            </div>
        </div>
    </div>
</div>
