<div class="mortgage">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="mortgage__title">Ипотечные программы: низкие процентные ставки, широкий выбор</h1>
                <p class="mortgage__text">
                    Достаточно прийти к&nbsp;нам в&nbsp;офис. Если вы&nbsp;планируете использовать возможности ипотечного кредитования, наш специалист сориентирует вас по&nbsp;имеющимся предложениям, составу пакета документов для подачи заявления и&nbsp;при необходимости будет сопровождать вашу сделку с&nbsp;банком.
                </p>
                <p class="mortgage__text">
                    Специалист подскажет, в&nbsp;какой банк лучше подать документы, и&nbsp;как их&nbsp;оформить. Поможет он&nbsp;разобраться и&nbsp;в&nbsp;других сложных ситуациях. Например, можно получить ипотеку, где первоначальным взносом будет материнский капитал или государственная субсидия. Также у&nbsp;нас есть возможность помочь вам оформить военную ипотеку.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <div class="mortgage__cols mortgage__cols_pos_first">
                    <div class="icons icons_doc mortgage__icons"></div>
                    <small>Полное сопровождение сделки, вам не&nbsp;надо никуда ходить</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mortgage__cols mortgage__cols_pos_middle">
                    <div class="icons icons_watch mortgage__icons"></div>
                    <small>Срок рассмотрения заявки 3 дня. Всё происходит быстро</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mortgage__cols mortgage__cols_pos_last">
                    <div class="icons icons_coin mortgage__icons"></div>
                    <small>Услуга предоставляется бесплатно. Никаких скрытых платежей</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mortgage__banks">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <a class="mortgage__bank" target="_blank" href="http://www.sberbank.ru/ru/person">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-sberbank.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">10,4&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 30 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 15&thinsp;%</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-5">
                    <a class="mortgage__bank" target="_blank" href="https://www.vtb24.ru/">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-vtb.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">10,9&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 30 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 10&thinsp;%</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <a class="mortgage__bank" target="_blank" href="https://www.rshb.ru/">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-rosselhoz.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">10,25&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 30 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 15&thinsp;%</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-5">
                    <a class="mortgage__bank" target="_blank" href="https://severgazbank.ru/">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-sgb.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">10,4&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 25 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 15&thinsp;%</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <a class="mortgage__bank" target="_blank" href="http://www.gazprombank.ru/">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-gazprombank.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">10,25&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 30 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 10&thinsp;%</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-5">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h2 class="mortgage__law">Законодательство</h2>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Земельный Кодекс Российской Федерации
                        <br> (ред. Федерального закона от 30.06.2006, N92-ФЗ)
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Градостроительный Кодекс Российской Федерации
                        <br> (ред. Федерального закона от 27.07.2006, N143-ФЗ)
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Семейный Кодекс № 223-ФЗ
                        <br> от 29.12.1995 (ред. от 23.12.2010)
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Федеральный закон «О государственной регистрации прав на недвижимое
                        <br> имущество и сделок с ним» от 21.07.97 № 122-ФЗ
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Федеральный закон «Об ипотеке (залоге недвижимости)»
                        <br> от 16.07.98 № 102-ФЗ
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Жилищный Кодекс № 188-ФЗ от 29.12.2004
                        <br> (ред. от 30.11.2010)
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Земельный Кодекс Российской Федерации
                        <br> (ред. Федерального закона от 30.06.2006, N92-ФЗ)</div>
                </a>
            </div>
        </div>
    </div>
</div>
