<div class="mortgage">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="mortgage__title">Ипотечные программы: низкие процентные ставки, широкий выбор</h1>
                <p class="mortgage__text">
                    Достаточно прийти к нам в офис. Если вы планируете использовать возможности ипотечного кредитования, наш специалист сориентирует вас по имеющимся предложениям, составу пакета документов для подачи заявления и при необходимсоти будет сопровождать вашу сделку с банком.
                </p>
                <p class="mortgage__text">
                    Специалист подскажет, в какой банк лучше подать документы, и как их оформить. Поможет он разобраться и в других сложных ситуциях. Например, можно получить ипотеку, где первоначальным взносом будет материнский капитал или государственная субсидия. Также у нас есть возможность помочь вам оформить военную ипотеку.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <div class="mortgage__cols mortgage__cols_pos_first">
                    <small>Полное сопровождение сделки, вам не надо никуда ходить</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mortgage__cols mortgage__cols_pos_middle">
                    <small>Срок рассмотрения заявки 3 дня. Всё происходит быстро</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mortgage__cols mortgage__cols_pos_last">
                    <small>Услуга предоставляется бесплатно. Никаких скрытых платежей</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mortgage__banks">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <div class="mortgage__bank">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-sberbank.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">12,1&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 30 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 15&thinsp;%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mortgage__bank">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-vtb.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">12,1&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 30 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 15&thinsp;%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <div class="mortgage__bank">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-rosselhoz.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">12,1&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 30 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 15&thinsp;%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mortgage__bank">
                        <div class="mortgage__bank-logo">
                            <img src="/assets/images/banks/logo-sgb.svg" alt="">
                        </div>
                        <div class="mortgage__bank-conditions">
                            <div class="mortgage__bank-condition">
                                <small>Ставка</small>
                                <div class="mortgage__bank-numbers">12,1&thinsp;%</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Срок кредита</small>
                                <div class="mortgage__bank-numbers">до 30 лет</div>
                            </div>
                            <div class="mortgage__bank-condition">
                                <small>Первый взнос</small>
                                <div class="mortgage__bank-numbers">от 15&thinsp;%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h3 class="mortgage__law">Законодательство</h3>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Земельный Кодекс Российской Федерации
                        <br> (ред. Федерального закона от 30.06.2006, N92-ФЗ)
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Градостроительный Кодекс Российской Федерации
                        <br> (ред. Федерального закона от 27.07.2006, N143-ФЗ)
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Семейный Кодекс № 223-ФЗ
                        <br> от 29.12.1995 (ред. от 23.12.2010)
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Федеральный закон «О государственной регистрации прав на недвижимое
                        <br> имущество и сделок с ним» от 21.07.97 № 122-ФЗ
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Федеральный закон «Об ипотеке (залоге недвижимости)»
                        <br> от 16.07.98 № 102-ФЗ
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Жилищный Кодекс № 188-ФЗ от 29.12.2004
                        <br> (ред. от 30.11.2010)
                    </div>
                </a>
                <a href="#" class="mortgage__law-link">
                    <span class="mortgage__law-link-icon"></span>
                    <div class="mortgage__law-link-name">
                        Земельный Кодекс Российской Федерации
                        <br> (ред. Федерального закона от 30.06.2006, N92-ФЗ)</div>
                </a>
            </div>
        </div>
    </div>
</div>
