<div class="buy-process container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="buy-process__header">Простые шаги к&nbsp;квартире вашей мечты</h1>
            <h3 class="buy-process__introduction">
                Приобретение квартиры&nbsp;&mdash; ответственный шаг в&nbsp;жизни каждого человека. Мы&nbsp;делаем все для того, чтобы процесс покупки вашей новой квартиры был простым и&nbsp;комфортным. Специалисты отдела продаж компании СКАТ бесплатно подберут выгодные условия приобретения будущего жилья и&nbsp;помогут оформить ее&nbsp;в&nbsp;собственность.
            </h3>
            <div class="buy-process__stepline">
                <div class="stepline">
                    <div class="stepline__item">
                        <div class="stepline__circle"></div>
                        <div class="stepline__title">1. Задайте вопрос</div>
                        <div>
                            Найдя интересующую вас квартиру на&nbsp;сайте, заполните форму для получения более подробных сведений. Наш специалист свяжется с&nbsp;вами в&nbsp;течение <nobr>одного-двух</nobr> дней удобным для вас способом и&nbsp;ответит на&nbsp;все вопросы. Отныне вы&nbsp;регулярно будете получать всю актуальную информацию о&nbsp;доме в&nbsp;формате электронных сообщений. Заполнение сведений не&nbsp;подразумевает, что вы&nbsp;обязаны совершить покупку. Просто это позволит всегда оставаться в&nbsp;курсе событий и&nbsp;узнавать первыми об&nbsp;интересующих вас проектах.
                        </div>
                    </div>
                    <div class="stepline__item">
                        <div class="stepline__circle"></div>
                        <div class="stepline__title">2. Посетите наш отдел продаж</div>
                        <div>
                            Ничто не&nbsp;расскажет о&nbsp;квартире так, как сама квартира. Посетите <nobr>шоу-рум</nobr> в&nbsp;офисе продаж в&nbsp;сопровождении специалиста и&nbsp;убедитесь сами. Вы&nbsp;получите полную информацию обо всем, что вам нужно знать о&nbsp;вашем будущем доме. После визита мы&nbsp;предложим на&nbsp;выбор множество вариантов планировочных решений, что позволит вам проявить собственную индивидуальность при создании образа вашего дома. После подробной беседы со&nbsp;специалистом вы&nbsp;будете точно знать, какая квартира подойдет именно вам, а&nbsp;также когда и&nbsp;каким образом будет проходить процесс покупки.
                        </div>
                    </div>
                    <div class="stepline__item">
                        <div class="stepline__circle"></div>
                        <div class="stepline__title">3. Забронируйте квартиру</div>
                        <div>
                            Если вам понравилась квартира, но&nbsp;для принятия решения вам все-таки необходимо время на&nbsp;раздумье, мы&nbsp;закрепим ее&nbsp;за&nbsp;вами абсолютно бесплатно. Если вы&nbsp;убеждены, что именно таким должен быть ваш будущий дом, мы&nbsp;составим заявку о&nbsp;бронировании, которая фиксирует номер квартиры, ее&nbsp;стоимость на&nbsp;день подписания документа и&nbsp;действует до&nbsp;заключения договора участия в&nbsp;долевом строительстве. Если вы&nbsp;планируете использовать возможности ипотечного кредитования, наш специалист сориентирует вас по&nbsp;имеющимся предложениям, составу пакета документов для подачи заявления и&nbsp;при необходимости будет сопровождать вашу сделку с&nbsp;банком.

                        </div>
                    </div>
                    <div class="stepline__item">
                        <div class="stepline__circle"></div>
                        <div class="stepline__title">4. Заключите договор</div>
                        <div>
                            После подачи заявки о&nbsp;бронировании мы&nbsp;встретимся снова и&nbsp;еще раз обсудим с&nbsp;вами все детали: от&nbsp;условий оплаты и&nbsp;сроков передачи ключей до&nbsp;гарантийных и&nbsp;страховых обязательств. Нам важно, чтобы вы&nbsp;ясно представляли себе процесс покупки и&nbsp;были защищены на&nbsp;всех этапах приобретения вашей квартиры. В&nbsp;итоге мы&nbsp;заключим с&nbsp;вами договор участия в&nbsp;долевом строительстве. Первый взнос по&nbsp;нему вам необходимо сделать после регистрации договора.

                        </div>
                    </div>
                    <div class="stepline__item">
                        <div class="stepline__circle"></div>
                        <div class="stepline__title">5. Наблюдайте за созданием дома</div>
                        <div>
                            Благодаря круглосуточному web-наблюдению, установленному рядом с&nbsp;каждым объектом, вы&nbsp;можете проследить за&nbsp;ходом строительства вашего дома в&nbsp;любое удобное время. Достаточно зайти на&nbsp;сайт в&nbsp;раздел Проекты.
                        </div>
                    </div>
                    <div class="stepline__item">
                        <div class="stepline__circle stepline__circle_last"></div>
                        <div class="stepline__title">6. Получите ключи от&nbsp;новой квартиры</div>
                        <div>
                            Вам позвонит специалист отдела клиентского сервиса и&nbsp;пригласит вас на&nbsp;прием квартиры. Процесс <nobr>приема-передачи</nobr> квартиры предполагает, что мы&nbsp;вместе с&nbsp;вами ее&nbsp;осмотрим, убедимся в&nbsp;отсутствии замечаний, после чего подпишем акты <nobr>приема-передачи</nobr> и&nbsp;вручим ключи от&nbsp;вашей новой квартиры. Вы&nbsp;также получите папку клиента, в&nbsp;которой собрана вся полезная информация и&nbsp;необходимые документы.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
