<div class="trade-in">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <div class="col-md-9">
                    <h1 class="trade-in__title">Обменяйте свою квартиру на новую</h1>
                    <p class="trade-in__text">
                        Для этого Вам нужно сделать всего четыре простых шага:
                    </p>
                    <p class="trade-in__text">
                        1 — Выберите квартиру с помощью менеджера отдела продаж СКАТ.
                    </p>
                    <p class="trade-in__text">
                        2 — Закажите бесплатную оценку Вашей квартиры и подпишите агентский договор на продужау с отделом продаж СКАТ.
                    </p>
                    <p class="trade-in__text">
                        3 — Не дожидаясь продажи, заключите ДДУ на выбранную Вами квартиру от СКАТ, внесите 5% от её стоимости и новая квартира ваша по сегодняшней цене!
                    </p>
                    <p class="trade-in__text">
                        4 — Внесите остаток суммы через 3 месяца, в течение которых квалифицированные специалисты СКАТ продадут Вашу квартиру. Всё это стало возможным в рамках действия новой программы «Взаимозачет», разработанной специалистами СКАТ. Становясь участником этой программы, Вы получаете целый ряд ценных преимуществ:
                    </p>
                    <p class="trade-in__text">
                        Зафиксируйте цену! Возможность приобрести квартиру в новостройке, зафиксировав цену на текущих условиях, имея на руках лишь 5% от стоимости квартиры.
                    </p>
                    <p class="trade-in__text">
                        Не дожидайтесь продажи своей квартиры! В отличие от большинства аналогичных программ, не нужно дожидаться продажи Вашей квартиры — Вы сразу заключаете ДДУ, а СКАТ предоставляет Вам отсрочку основного платежа сроком 3 месяца на время продажи Вашей квартиры.
                    </p>
                    <p class="trade-in__text">
                        Быстро, выгодно и безопасно! Широкая сеть отделений и многолетний опыт специалистов отдела продаж СКАТ позволит быстро и выгодно продать Вашу квартиру.
                    </p>
                    <p class="trade-in__text">
                        Оформите всё в одном месте! Все необходимые дейстия — от продажи Вашей квартиры до покупки новой, Вы сможете осуществить в офисе продаж СКАТ.
                    </p>
                    <p class="trade-in__text">
                        Всю информацию об услуг можно получить у специалиста отдела продаж СКАТ:
                        <br> телефон: +7(8212)55-1234
                        <br> email: <a href="mailto:sales@speckat.ru">sales@speckat.ru</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
