.data {
	margin-top: 52px;

	&__item {
		padding: 10px 0;
		border-bottom: 2px solid $brand-primary;
		border-top: 2px solid $brand-primary;
		color: $brand-primary;
		font-family: $fontName-SuisseIntlSemiBold, Arial, sans-serif;

		&-title {
			font-size: 12px;
			margin-bottom: 3px;
		}

		&-value {

		}
	}
}