.docs-item {
	display: table;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #eaeaea;
	line-height: 1;

	&:last-of-type {
		border-bottom: none;
	}

	&__title,
	&__pdf,
	&__title,
	&__date,
	&__upload {
		display: table-cell;
		vertical-align: middle;
	}

	&__pdf-medium {
		width: 14px;
	}

	&__title {
		font-size: 20px;
	}

	&__date {
		text-align: right;
		color: #949DA7;
	}

	&__download {
		text-align: right;
	}
}
