.map {

	&__g-map {
		position: relative;
		@include size(100%);

		&-comp {

		}
	}

	&__overlay {
		background: rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		cursor: pointer;
		@include size(100%);
	}

	&__info {
		position: absolute;
		top: 40px;
		right: 40px;
		z-index: 999;
		background-color: #fff;
		font-size: 16px;

		&-address,
		&-office {
			padding: 25px;
			padding-top: 22px;
			padding-right: 80px;
			line-height: 1.35;
		}

		&-address {
			border-bottom: 1px solid #e7e7e7;
			color: $brand-primary;
		}

		&-office {
			padding-bottom: 50px;
		}
	}
}