.params {

	&__item {
		display: block;
		position: relative;
		padding: 30px;
		@include size(100%, 320px);
		margin-bottom: 30px;
		background-color: #f2f2f2;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&_tech {
			background-image: url(/assets/images/projects/atlantida/atlantida-tech@2x.png);
		}

		&_location {
			background-image: url(/assets/images/projects/atlantida/atlantida-location@2x.png);
		}

		&_yard {
			background-image: url(/assets/images/projects/atlantida/atlantida-yard@2x.png);
		}

		&_mortgage {
			background-image: url(/assets/images/projects/atlantida/atlantida-mortgage@2x.png);
		}

		&-layout {
			position: absolute;
			top: 0;
			left: 0;
			@include size(100%);
			background-color: rgba(0, 0, 0, 0.25);

			&:hover {
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.5);
			}
		}

		&-title {
			font-size: 20px;
			color: #fff;
		}
	}
}