.params-item {
	display: table;
	width: 100%;
	margin-bottom: 30px;

	&_last {
		margin-bottom: 15px;
	}

	&__image,
	&__text {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}

	&__image {

		img {
			height: 320px;
			background-color: #f2f2f2;
			@include size(100%);
		}
	}

	&__title {
		font-size: 24px;
	}

	&__text {
		padding-left: 30px;
		padding-right: 0;

		&_left {
			padding-left: 0;
			padding-right: 30px;
		}
	}

	&__p {

	}
}