<div class="buy-navigation">
    <div class="buy-navigation__image">
        <img src="#" alt="">
    </div>
    <div class="container">
        <nav class="buy-navigation__nav">
            {{#link-to "buy.process" class="buy-navigation__nav-link" }}Процесс покупки{{/link-to}}
            {{#link-to "projects" class="buy-navigation__nav-link" }}Ипотека{{/link-to}}
            {{#link-to "projects" class="buy-navigation__nav-link" }}Trade-IN{{/link-to}}
            {{#link-to "projects" class="buy-navigation__nav-link" }}Мат.&nbsp;капитал{{/link-to}}
            {{#link-to "projects" class="buy-navigation__nav-link" }}Компенсация проезда{{/link-to}}
        </nav>
    </div>
</div>
{{outlet}}
