<div class="company-navigation">
    <div class="company-navigation__image">
        <img src="/assets/images/covers/company-cover@2x.png" alt="">
    </div>
    <div class="container">
        <nav class="company-navigation__nav">
            {{#link-to "company.index" class="company-navigation__nav-link" }}Компания{{/link-to}}
            {{#link-to "company.team" class="company-navigation__nav-link" }}Команда{{/link-to}}
            {{#link-to "company.history" class="company-navigation__nav-link" }}История{{/link-to}}
            {{#link-to "company.services" class="company-navigation__nav-link" }}Услуги{{/link-to}}
        </nav>
    </div>
</div>
{{outlet}}
