<div class="contacts">
    <div class="contacts__image">
        <img src="#" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="contacts__title">Контактная информация</h1>
                <div class="contacts__intro">
                    Ждём вас в гости в нашем главном офисе или отделах продаж.
                    <br> Также будем рады ответить на любые вопросы по телефону или электронной почте:
                </div>
                <div class="contacts__unit">
                    <h4 class="contacts__unit-title">Отдел продаж</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <small>Телефон</small>
                            <div class="contacts__unit-contact">
                                <a href="#">+7(8212)551234</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <small>E-mail</small>
                            <div class="contacts__unit-contact">
                                <a href="mailto:sales@speckat.ru">sales@speckat.ru</a>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="contacts__unit">
                    <h4 class="contact__unit-title">Офисы продаж</h4>
                    <div class="row">
                        <div class="col-md-4">
                            ул. Колхозная, 95
                            <br> Пн.—Пт. 9:00—20.00
                            <br> Сб. 11:00—17.00
                            <br> Вс. выходной
                        </div>
                        <div class="col-md-4">
                            ул. Морозова, 201
                            <br> Пн.—Пт. 9:00—20.00
                            <br> Сб. 11:00—17.00
                            <br> Вс. выходной
                        </div>
                        <div class="col-md-4">
                            ул. Петрозаводская, 31
                            <br> Пн.—Пт. 9:00—20.00
                            <br> Сб. 11:00—17.00
                            <br> Вс. выходной
                        </div>
                    </div>
                </div>
                <div class="contacts__unit">
                    <h4 class="contacts__unit-title">Главный офис</h4>
                    <div class="row">
                        <div class="col-md-8">
                            ул. Колхозная, 95
                            <br> г. Сыктывкар, Респ. Коми, Россия, 167000
                            <br> Тел.: +7(8212)211-000
                            <br> <a href="mailto:office@speckat.ru">office@speckat.ru</a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="contacts__map">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h4 class="contacts__unit-title">Отдел по работе со СМИ</h4>
                            <div>
                                <div class="contacts__unit-people">
                                    Шичанина Татьяна Ивановна
                                    <br> PR-директор
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(495)68-06-71 (доб. 200)
                                    <br> Моб.телефон: +7(925)005-35-77
                                    <br> <a href="mailto:shichanina.t@speckat.ru">shichanina.t@speckat.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h4 class="contacts__unit-title">Департамент персонала</h4>
                            <div>
                                <div class="contacts__unit-people">
                                    Романов Артем Романович
                                    <br> Директор по персоналу
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(495)68-06-71 (доб. 201)
                                    <br> Моб.телефон: +7(925)005-35-77
                                    <br> <a href="mailto:romanov.a@speckat.ru">romanov.a@speckat.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h4 class="contacts__unit-title">Услуги компании</h4>
                            <div>
                                <div class="contacts__unit-people">
                                    Иванова Елена Алексеевна
                                    <br> Отдел по работе с корпоративными клиентами
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(495)68-06-71 (доб. 204)
                                    <br> Моб.телефон: +7(925)005-35-77
                                    <br> <a href="mailto:ivanova.e@speckat.ru">ivanova.e@speckat.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h4 class="contacts__unit-title">Коммерческие помещения</h4>
                            <div>
                                <div class="contacts__unit-people">
                                    Иванова Елена Алексеевна
                                    <br> Специалист отдела продаж по коммерческим помещениям
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(495)68-06-71 (доб. 204)
                                    <br> Моб.телефон: +7(925)005-35-77
                                    <br> <a href="mailto:ivanova.e@speckat.ru">ivanova.e@speckat.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h4 class="contacts__unit-title">Корпоративный секретарь</h4>
                            <div>
                                <div class="contacts__unit-people">
                                    Иванова Елена Алексеевна
                                    <br> Корпоративный секретарь
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(495)68-06-71 (доб. 204)
                                    <br> Моб.телефон: +7(925)005-35-77
                                    <br> <a href="mailto:ivanova.e@speckat.ru">ivanova.e@speckat.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h4 class="contacts__unit-title"></h4>
                            <div>
                                <div class="contacts__unit-people"></div>
                                <div class="contacts__unit-phone"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{job-form title="Напишите нам:"}}
    </div>
</div>
