<div class="contacts">
    <div class="contacts__image">
        <img src="/assets/images/covers/contacts-cover@2x.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="contacts__title">Контактная информация</h1>
                <div class="contacts__intro">
                    <p>Ждем вас в&nbsp;наших офисах продаж. Будем рады ответить на&nbsp;ваши вопросы по&nbsp;телефону и&nbsp;электронной почте.</p>
                </div>
                <div class="contacts__unit">
                    <h3 class="contacts__unit-title">Отдел продаж</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <small>Телефон</small>
                            <div class="contacts__unit-contact">
                                <a href="#">+7(8212)55-1234</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <small>E-mail</small>
                            <div class="contacts__unit-contact">
                                <a href="mailto:sales@speckat.ru">sales@speckat.ru</a>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="contacts__unit">
                    <h3 class="contact__unit-title">Офисы продаж</h3>
                    <div class="row">
                        <div class="col-md-4">
                            ул. Морозова, 201
                            <br> Пн.—Пт. 9:00—20.00
                            <br> Сб., Вс. 9:00—15.00
                        </div>
                        <div class="col-md-4">
                            ул. Лыткина, 31
                            <br> Пн.—Пт. 9:00—20.00
                            <br> Сб., Вс. 9:00—15.00
                        </div>
                        <div class="col-md-4">
                            ул. Пушкина, 63
                            <br> Пн.—Пт. 9:00—20.00
                            <br> Сб., Вс. 9:00—15.00
                        </div>
                    </div>
                </div>
                <div class="contacts__unit">
                    <h3 class="contacts__unit-title">Административный офис</h3>
                    <div class="row">
                        <div class="col-md-8">
                            ул. Колхозная, 95
                            <br> г. Сыктывкар, Респ. Коми, Россия, 167000
                            <br> Тел.: +7(8212)211-000
                            <br> <a href="mailto:office@speckat.ru">office@speckat.ru</a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="contacts__map">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h3 class="contacts__unit-title">Административный офис</h3>
                            <div>
                                <div class="contacts__unit-people">
                                    Беляева Ирина Александровна
                                    <br> Помощник руководителя административного офиса
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(8212) 211-777
                                    <br> <a href="mailto:office@speckat.ru">office@speckat.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h3 class="contacts__unit-title">Офис продаж</h3>
                            <div>
                                <div class="contacts__unit-people">
                                    Каменева Ксения Юрьевна
                                    <br> Администратор офиса продаж
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(8212) 55-1234
                                    <br> <a href="mailto:sales@speckat.ru">sales@speckat.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h3 class="contacts__unit-title">Департамент подбора персонала</h3>
                            <div>
                                <div class="contacts__unit-people">
                                    Беляева Ирина Александровна
                                    <br> Административный офис
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(8212) 211-777
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h3 class="contacts__unit-title">Департамент подбора персонала</h3>
                            <div>
                                <div class="contacts__unit-people">
                                    Навруз Ольга Владимировна
                                    <br> Отдел продаж
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(8212) 74-54-78
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h3 class="contacts__unit-title">Отдел по работе со СМИ</h3>
                            <div>
                                <div class="contacts__unit-people">
                                    Долидзе Александра Георгиевна
                                    <br> Отдел по работе со СМИ
                                </div>
                                <div class="contacts__unit-phone">
                                    Раб.телефон: +7(8212) 72-54-78
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contacts__unit">
                            <h3 class="contacts__unit-title"></h3>
                            <div>
                                <div class="contacts__unit-people"></div>
                                <div class="contacts__unit-phone"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- <div class="contacts__job-form">
        {{job-form title="Напишите нам:"}}
</div> --}}
</div>
