<div class="index">
	<div class="index__carousel">
		{{bootstrap-carousel}}
	</div>
	<div class="index__projects">
		<h1>Проекты</h1>
		{{projects-grid}}
		<button class="btn btn-default btn_centered">Все проекты</button>
	</div>
	<div class="index__company"></div>
	<div class="index__news"></div>
</div>